[Desktop Entry]
Version=2.0
Name=Data Workshop
GenericName=FEL High-level Application
X-GNOME-FULLNAME=DataWorkshop
Comment=App for data post-processing with Imageviewer
Type=Application
Categories=FEL;
Exec=/home/tong/Programming/projects/felapps/scripts/dataworkshop
Terminal=false
Icon=/home/tong/Programming/projects/felapps/launchers/icons/original/dataworkshop.png

