[Desktop Entry]
Version=2.0
Name=Lattice Viewer
GenericName=Lattice Viewer
X-GNOME-FULLNAME=LatticeViewer
Comment=Generic Lattice Viewer And Online Modeling Tool
Type=Application
Categories=FEL;Science;Physics;Education;
Exec=latticeviewer
Terminal=false
Icon=latticeviewer

