[Desktop Entry]
Version=2.0
Name=Match Wizard
GenericName=FEL High-level Application
X-GNOME-FULLNAME=MatchWizard
Comment=App for beamline matching operation
Type=Application
Categories=FEL;
Exec=/home/tong/Programming/projects/felapps/scripts/matchwizard
Terminal=false
Icon=/home/tong/Programming/projects/felapps/launchers/icons/original/matchwizard.png

