[Desktop Entry]
Version=2.0
Name=wx MatPlot Viewer
GenericName=wx MatPlot Viewer
X-GNOME-FULLNAME=wxmpv
Comment=Generic Matplot Viewer
Type=Application
Categories=FEL;Science;Physics;Education;
Exec=wxmpv
Terminal=false
Icon=wxmpv

