<config>
    <group name="Image">
        <properties cmFavor="jet  Greys  cool  rainbow  gnuplot  gray  hot" height="659" imgIniFunc="sinc" saveImgExt=".jpg" saveImgName="image" saveImgDatExt=".asc" saveImgDatName="imagedat" saveIntExt=".jpg" saveIntName="intensity" savePath="/home/tong/Desktop" width="494" />
    </group>

    <group name="Control">
        <properties frequency="1" imgsrcPV="UN-BI:PROF19:ARR" imgsrcPVlist="UN-BI:PROF18:ARR  UN-BI:PROF19:ARR  UN-BI:PROF20:ARR  UN-BI:PROF25:ARR" />
    </group>

    <group name="Style">
        <properties backgroundColor="#D6D6D6" />
    </group>

    <group name="HistPlot">
        <properties heightRatio="0.9" />
    </group>
</config>
